body{
    background-color: aqua;
    text-align: center;
}
li {
    display: inline;
}

li {
    float:right;
}


ul {
    background-color: #dddddd;
}

li a:hover {
    background-color: #111;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a{
    color: black !important;
}
.link{
    color: crimson;
    display: inline;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
}
.menu a{
    color: black !important;
}
.link{
    color: crimson;
    display: inline;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
}
.link:hover{
    background-color: beige;
}